@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;;
}

body{
    background-color:#f8f8fd;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    font:inherit;
}

h1{
    font-weight:700;
    font-size:48px;
    line-height: 64px;
    color:#16054e;
}

form{
    margin-top: 80px;
}


.daba-nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-weight:400;
    margin-left:50px;
    margin-top: 40px;
    
    
}

.navlist{
    display:flex;
    gap:1rem;
    height:24px;
    align-items: center;
    margin-right: 100px;
}

.navlist>a{
    color: #16054E;
    position:relative;
    padding:0.75rem 1.5rem;

}

.navlist>a::after{
    content:"";
    position:absolute;
    width:0%;
    height:3px;
    background-color:#16054E;
    bottom:5px;
    left:50%;
    transform:translateX(-50%);
    transition:0.3s ease;
}
.navlist>a:hover::after{
    width:70%;
  
}

.join-waitlist{
    background-color: #8D6CFA;
    color:white;
    cursor:pointer;
    padding: 16px 40px 16px 40px;
    border-radius: 100px;

}

.join-waitlist:hover{
    transform:scale(1.1);
}



.btn-link{
    text-decoration: none;
    
}

.smart{
    color:#8D6CFA;
}

.heading{
    margin-top:243px;
    margin-left:100px;
    display:inline-block;
    width:580px;
    height:512px;
}

.para{
    height:120px;
    width:580px;
    font-weight: 400;
    font-size:24px;
    line-height: 40px;
    color:#8b82a7;
    margin-top:23px;
}

#email{
    border-radius:8px;
    height:56px;
    width:403px;
    border:1px 1px 1px 1px;
    border-color: #ded7f6;
    color:#ffffff;
    text-align:center;
}

.buttn{
    border-radius: 32px;
    gap:10px;
    padding:16px 40px 16px 40px;
    background-color:#8D6CFA;
    border:none;
    width:hug(161px);
    height:hug(56px);
    margin-left:19px;
    color:#ffffff;
    font-size:14px;
    transition:opacity 0.3s;
}

.buttn:hover{
    cursor:pointer;
    opacity: 0.7;
}

.ellipse{
    border-radius: 50%;
    float:right;
    width:531px;
    height:531px;
    margin-top:210px;
    margin-right:200px;
    background-image: linear-gradient(to bottom, #eee9ff 0%, #8d6df9 100%);
}

.flyphone{
    width:585px;
    height:607px;
    top:196px;
}





.core-section{
    display:grid;
    place-items: center;
    margin-top:138px;
}

.d-assets{
    width:1240px;
    height:488px;
    border-radius:24px;
    background-color:#8d6df9;
    margin-top:50px;
}